.body {
  font-family: Poppins;
}

.city {
  font-weight: thin;
  margin-top: 30px;
}

.main {
  font-size: 70px;
}

.main-temperature {
  margin-top: 0px;

  font-weight: thin;
  font-size: 50px;
}

#current-city {
  margin: 1px 0 1px 0;
  color: #878787;
}

#date-time {
  margin: 1px 10px 0 0;
  color: #878787;
}

#current-condition {
  color: #878787;
}
.weekly-iconsm {
  display: block;
  margin: 10px;
  font-size: 30px;
}

.weekly-iconst {
  display: block;
  margin: 10px;
  font-size: 30px;
}

.weekly-iconsw {
  display: block;
  margin: 10px 25px;
  font-size: 30px;
}

.weekly-iconsth {
  display: block;
  margin: 10px;
  font-size: 30px;
}

.weekly-iconsf {
  display: block;
  margin: 10px;
  font-size: 30px;
}

.weekly-iconssat {
  display: block;
  margin: 10px;
  font-size: 30px;
}

.weekly-iconssun {
  display: block;
  margin: 10px;
  font-size: 30px;
}
.all-temp {
  margin-top: 30px;

  font-weight: thin;
}

.new1 {
  border-top: 1px solid;
  margin: 30px 0 0;
}

.weather-app {
  max-width: 800px;
  margin: 20px 0 auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
